*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #FFD100;
}

header,
main,
footer {
    width: calc(100% - 2rem);
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

main form input {
    width: fit-content;
    margin-top: 1rem;
}

main article {
    margin-bottom: 2rem;
    width: 50%;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: -30px 20px 10px #FFB800;
}

main article p {
    margin-left: 1rem;
    margin-top: 1rem;
}

main button {
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    font-weight: bold;
    margin-right: 1rem;
}

ul {
    margin-top: 2rem;
    list-style: none;
    width: calc(100% - 2rem);
    max-width: 70vw;
    padding: 1rem;
    margin: 0 auto;
}

ul div {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    margin-bottom: 1rem;
}

ul div span {
    display: flex;
    flex-wrap: wrap;
}

ul div h3 {
    margin-bottom: .5rem;
}

ul div p {
    margin-right: .3em;
}

.uplifting {
    font-family: sans-serif;
    font-weight: bold;
}

.thinking {
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
}

.guest {
    margin-left: auto;
    background-color: black;
    color: white;
    border-radius: 1rem 1rem 0 1rem;
}

#podcast {
    height: 95vh;
    padding: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
}